<div class="failure">
  <div class="error">
    <h1>500 Error!!</h1>
  </div>
  <div class="error-mess">
    <h2>Oops!!</h2>
    <h2>Sorry........................</h2>
    <p>
      ごめんなさい。これはあなたのミスではございません。
      開発者のミスです。ただいまこのエラーをなくすためだけに一生懸命対策しておりますので、
      今しばらくお待ちください。<br>
      今回のログインでは満足のいかない結果となってしまいましたが、
      どうかもう一度このサービスに訪れてください。あなたが訪れた際にこのエラーがなくなっている事をお祈りしております。<br>
      よろしくお願いします。
    </p>
  </div>
</div>
