// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width: 769px) {
  .failure {
    color: gray;

    .error {
      background-color: #dcdcdc;
      color: black;

      h1 {
        padding: 15px;
        font-size: 100px;
        text-align: center;
      }
    }

    h2 {
      font-size: 60px;
    }

    p {
      font-size: 25px;
    }
  }
}
@media screen and (max-width: 768px) {
  .failure {
    color: gray;
  }
}

@media screen and (max-width:640px) {
  .failure {
    color: gray;
  }
}
