<header clss="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'OB&OG MATCHER', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" role='navigation'>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'facebookでログイン', '/auth/facebook' %></li>
      </ul>
    </div>
  </div>
</header>
